body {
	background-color: #ecf0f1;
	color: #34495e;
}
.yellow {
	background-color: lightgoldenrodyellow;
}
.blue {
	background-color: cornflowerblue;
}
.purple { 
	background-color: purple;
}

.form,
.greetings {
	display: none;
}

.showing {
	display: block;
}
